.header {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 37px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    padding-left: 10px;
    background: rgb(212, 42, 93);
    color: #fff;
  }